.input-row{
    margin: 10px;
}
.form-btn-wrapper{
    // width: 50%;
    padding: 10px;
}
#compare{
    height: 100vh;
}
.form-btn{
    width: 100%;
}
.spacer{
    height: 100vh;
}
.hidden{
    display: none;
}

