$theme-colors: (
    // Custom theming for colors can be done here
    "primary": #0a5780,
    "danger": #D05353,
    "success": #9CDE9F
);

@import "~bootstrap/scss/bootstrap";

// Page specific files
@import "./Styles/Home.scss";

.jumbotron{
  background-color: #0a5780;
  border-radius: 0px;
  a{
    color: darkgrey;
  }
  color: white;
}